.prayar {
  background: rgba(196, 100, 37, 0.459); 
  
  backdrop-filter: blur(10px);         
  -webkit-backdrop-filter: blur(10px); 
  border: 1px solid rgba(255, 255, 255, 0.2); 
  
  border-radius: 15px;                 
  padding: 15px 25px; 
  margin: 10px;
  
  display: flex;             
  justify-content: space-between; 
  align-items: center;       
  
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
  min-width: 250px;          
  transition: transform 0.3s ease;   
}

.name_prayar {
  color: #ffffff;     
  font-size: 22px;      
  font-weight: bold;
  margin-bottom: 0;    
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.3); 
}

.time_prayar {
  color: #ffffff;    
  font-size: 22px;      
  font-weight: 500;
  margin: 0;             
}

@media (max-width: 400px) {
  .prayar {
    min-width: 90%;
    padding: 10px 15px;
  }
  .name_prayar, .time_prayar {
    font-size: 18px;
  }
}